<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shengsiyuan</display-name>

  <servlet>
    <servlet-name>ListNewsCatalog</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newscatalog.ListNewsCatalog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewsCatalog</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newscatalog.AddNewsCatalog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePNewsCatalog</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newscatalog.UpdatePNewsCatalog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateNewsCatalog</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newscatalog.UpdateNewsCatalog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteNewsCatalog</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newscatalog.DeleteNewsCatalog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListNewsItem</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newsitem.ListNewsItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewsItem</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newsitem.AddNewsItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListNewsAttachment</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newsattachment.ListNewsAttachment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewsAttachment</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newsattachment.AddNewsAttachment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewNewsItem</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newsitem.ViewNewsItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadNewsAttachment</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newsattachment.DownloadNewsAttachment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DocumentCatalogTree</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.documentcatalog.DocumentCatalogTree</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>ListNewsCatalog</servlet-name>
    <url-pattern>/NewsCatalog/ListNewsCatalog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewsCatalog</servlet-name>
    <url-pattern>/NewsCatalog/AddNewsCatalog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePNewsCatalog</servlet-name>
    <url-pattern>/NewsCatalog/UpdatePNewsCatalog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateNewsCatalog</servlet-name>
    <url-pattern>/NewsCatalog/UpdateNewsCatalog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNewsCatalog</servlet-name>
    <url-pattern>/NewsCatalog/DeleteNewsCatalog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListNewsItem</servlet-name>
    <url-pattern>/NewsItem/ListNewsItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewsItem</servlet-name>
    <url-pattern>/NewsItem/AddNewsItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListNewsAttachment</servlet-name>
    <url-pattern>/NewsAttachment/ListNewsAttachment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewsAttachment</servlet-name>
    <url-pattern>/NewsAttachment/AddNewsAttachment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewNewsItem</servlet-name>
    <url-pattern>/NewsItem/ViewNewsItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadNewsAttachment</servlet-name>
    <url-pattern>/NewsAttachment/DownloadNewsAttachment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentCatalogTree</servlet-name>
    <url-pattern>/DocumentCatalog/DocumentCatalogTree</url-pattern>
  </servlet-mapping>
 
</web-app>